.mainForm {
    width: 100%;
    min-width: 900px;

    padding: 25px 0;

    &__fieldset,
    &__buttons {
        width: 100%;

        margin: 0 auto;
        padding: 0 30px;
    }

    &__fieldset {
        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 150px minmax(600px, 1fr) 150px;

        max-width: 900px;

        border: 0;

        &:not(:first-child) {
            margin: 25px auto 0;
        }

        & > * {
            display: inline-block;
        }

        &__legend {
            text-transform: uppercase;
            font-weight: 500;
            color: #747e8a;
        }

        &__inputs {
            display: grid;

            grid-template-rows: 1fr;
            grid-template-columns: 1fr;

            padding: 0 25px;

            &--two {
                grid-template-columns: 0.5fr 0.5fr;
                gap: 10px;
            }
        }
    }

    &__buttons {
        display: flex;

        align-items: center;
        justify-content: space-between;

        margin-top: 25px;

        max-width: 600px;

        button {
            display: flex;

            align-items: center;
            justify-content: center;

            width: 160px;
            height: 45px;

            background-color: #fff;

            border-radius: 50px;
            border: 1px solid #c5d0db;

            text-transform: uppercase;

            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            &[type='submit'] {
                background-color: #0073f7;

                border: 0;

                color: #fff;
            }
        }
    }

    &__separator {
        margin: 25px 50px;
        border: 1px solid #c5d0db;
    }

    &__formItem {
        padding: 0 5px 0;

        &:not(:first-child):not(&__noTopMargin) {
            margin-top: 20px;
        }

        &__label,
        &__input {
            display: block;
        }

        &__label {
            color: #747e8a;
        }

        &__input {
            width: 100%;
            height: 45px;

            margin-top: 5px;
            padding: 5px 10px;

            border: 1px solid #c5d0db;

            &--textarea {
                height: 200px;
                resize: none;
            }

            &:invalid {
                outline: #eb002f;
                border-color: #eb002f;
            }
        }
    }

    &__inputWithHightlight {
        $iwh: &;

        width: 100%;
        height: 45px;

        position: relative;

        margin-top: 5px;

        &--textarea {
            height: 200px;
        }

        &--textInput {
            #{$iwh}__highlights {
                overflow: hidden;
                padding: 15px 10px;
            }
        }

        &__highlights,
        &__input {
            width: 100%;
            height: 100%;

            position: absolute;

            letter-spacing: 0.5px;
            line-height: 1.25;
        }

        &__highlights {
            padding: 5px 10px;

            overflow: auto;

            &__textBox {
                white-space: pre-wrap;
                overflow-wrap: break-word;

                color: transparent;
            }

            mark {
                background-color: rgb(0 115 247 / 31%);
                color: transparent;
            }
        }

        &__input {
            margin-top: 0;
            background-color: transparent;
        }
    }

    &__variables {
        &__title {
            color: #747e8a;
            font-weight: 500;
            text-transform: uppercase;
        }

        &__list {
            margin-top: 10px;
        }

        &__listItem {
            list-style: none;

            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        &__button {
            display: block;
            width: 100%;

            padding: 10px 5px;

            background-color: #fff;
            border: 1px solid #c5d0db;
            border-radius: 6px;

            box-shadow: 1px 4px 8px rgba(2, 36, 77, 0.25);

            color: #0073f7;

            cursor: pointer;

            &:hover {
                background-color: #fbfbfb;
            }
        }
    }
}
